.introduction-section {
  position: absolute;
  top: 75%; /* Start from the bottom half */
  left: 50%;
  transform: translate(-50%, 0); /* Center horizontally */
  color: white;
  z-index: 2; /* Ensure it's above other content */
  width: 75%; /* Increased width */
  border-radius: 15px; /* Rounded corners */
  height: 35vh; /* Set height to 30% of the viewport height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Prevent overflow */
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  .introduction-section {
    height: 35vh; /* Adjust height for smaller screens */
  }
}

@media (max-width: 768px) {
  .introduction-section {
    height: 40vh; /* Adjust height for even smaller screens */
    padding: 30px 40px; /* Adjust padding for smaller screens */
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .introduction-section {
    height: 50vh; /* Adjust height for very small screens */
    padding: 20px 30px; /* Adjust padding for very small screens */
    font-size: 20px;
  }
}
