.introduction-section {
  position: absolute;
  bottom: 20vh; /* Adjust as needed to fit the red box position */
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  text-align: center;
  color: white;
  font-size: 32px;
  animation: fadeIn 2s ease-in-out; /* Fade-in animation */
  z-index: 3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.introduction-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.4) 0%,
      /* Reduced opacity */ rgba(0, 0, 0, 0.3) 40%,
      /* Reduced opacity */ rgba(0, 0, 0, 0.2) 60%,
      /* Reduced opacity */ rgba(0, 0, 0, 0.1) 70%,
      /* Reduced opacity */ transparent 100%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%); /* Reduced opacity */
  filter: blur(10px); /* Apply blur effect */
  z-index: -1; /* Ensure it's behind the text */
  border-radius: 10px; /* Add border-radius for smooth edges */
}

.introduction-section span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Responsive Typography */
@media (max-width: 1400px) {
  .introduction-section {
    font-size: 30px; /* Large desktops and monitors */
    bottom: 10vh;
  }
}

@media (max-width: 1199px) {
  .introduction-section {
    font-size: 30px; /* Medium desktops and laptops */
    bottom: 10vh;
  }
}

@media (max-width: 991px) {
  .introduction-section {
    font-size: 30px; /* Small desktops and large tablets */
  }
}

@media (max-width: 767px) {
  .introduction-section {
    font-size: 28px; /* Tablets and large mobile devices */
  }
}

@media (max-width: 600px) {
  .introduction-section {
    font-size: 20px; /* Small tablets and large mobile devices */
    bottom: 5vh;
  }
}

@media (max-width: 376px) {
  .introduction-section {
    font-size: 18px; /* Medium to small mobile devices */
    word-spacing: 2px;
    line-height: 1.4;
    bottom: 0vh;
    width: 94%;
  }
}

@media (max-width: 1100px) and (max-height: 700px) {
  .introduction-section {
    bottom: 0vh;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px); /* Ensure translateX is set to -50% */
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Ensure translateX is set to -50% */
  }
}
