.introduction-section {
  position: absolute;
  bottom: 20vh; /* Adjust as needed to fit the red box position */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32px;
  animation: fadeIn 2s ease-in-out; /* Fade-in animation */
}

.introduction-section span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Responsive Typography */
@media (min-width: 1200px) {
  .introduction-section {
    font-size: 32px; /* Large desktops and monitors */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .introduction-section {
    font-size: 28px; /* Medium desktops and laptops */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section {
    font-size: 24px; /* Small desktops and large tablets */
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .introduction-section {
    font-size: 20px; /* Tablets and large mobile devices */
  }
}

@media (max-width: 599px) {
  .introduction-section {
    font-size: 16px; /* Medium to small mobile devices */
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px); /* Ensure translateX is set to -50% */
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Ensure translateX is set to -50% */
  }
}

