/* Gallery Page */
.gallery-page {
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Gallery Header */
.gallery-header {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.gallery-description {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* Gallery Container */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 15px;
  padding: 15px; /* Padding inside the container */
  width: calc(100% - 30px); /* Adjusted width to account for padding */
  max-width: 1200px; /* Set a max-width for better centering */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0 auto;
}

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 30px;
  }
}

@media (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 30px;
  }
}

/* Image Card */
.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s,
    opacity 0.5s; /* Added opacity transition */
}

.image-card:hover {
  transform: scale(1.05);
}

.image {
  border: 2px solid #444;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0; /* Initially hidden */
  transition:
    opacity 1s,
    filter 1s; /* Smooth transition for opacity and filter */
  filter: grayscale(100%);
}

.image-card.fade-in .image {
  animation:
    fade-in 1s forwards,
    colorize 1s 1s forwards; /* Trigger colorize after fade-in */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorize {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}

.image-card::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 10%,
    transparent 70%
  );
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: sparkle 3s forwards; /* Adjust timing for sparkle effect */
}

@keyframes sparkle {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
