.our-services {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  z-index: 3;
  position: relative;
  padding: 20px;
  overflow: visible;
  max-height: 110vh;
  border-top: 1px solid #444;
}

.our-services-title {
  margin-bottom: 30px;
}

.our-services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-description {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px; /* Add some space between the text and the image */
  z-index: 2; /* Ensure it's above the image */
}

.card-image {
  border: 2px solid #444;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  margin-top: 10px; /* Adjust spacing as needed */
}

/* Responsive Typography and Layout */
@media (min-width: 1200px) {
  .our-services {
    padding: 40px;
  }
  .card {
    width: 30%;
  }
  .card-description {
    font-size: 22px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .our-services {
    padding: 30px;
  }
  .card {
    width: 45%;
  }
  .card-description {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .our-services {
    padding: 20px;
  }
  .card {
    width: 45%;
  }
  .card-description {
    font-size: 18px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .our-services {
    padding: 15px;
  }
  .card {
    width: 90%;
  }
  .card-description {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  .our-services {
    padding: 10px;
  }
  .card {
    width: 100%;
  }
  .card-description {
    font-size: 14px;
  }
}
