.our-services {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  z-index: 3;
  position: relative;
  padding: 20px;
  overflow: visible;
  border-top: 1px solid #444;
}

.our-services-title {
  margin-bottom: 30px;
}

.our-services-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: stretch; /* Ensures both cards are the same height */
}

.card {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 45%; /* Adjust width if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1; /* Ensures content fills available space */
}

.card-description {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  flex-grow: 1; /* Ensure descriptions are the same height */
  display: flex;
  justify-content: center;
}

.card-image {
  border: 2px solid #444;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

/* Responsive Typography and Layout */
@media (max-width: 1300px) and (min-width: 1191px) {
  .card-description {
    font-size: 24px;
  }
}

@media (max-width: 1190px) {
  .our-services {
    overflow: hidden;
    margin-top: 50px;
    padding: 10px;
  }

  .our-services-cards {
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
  }

  .card {
    width: calc(
      100% - 55px
    ); /* Adjust the card width to have space from the edges */
  }

  .card-description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .our-services {
    margin-top: 30px;
    padding: 15px;
  }
  .card {
    width: calc(
      100% - 55px
    ); /* Adjust the card width to have space from the edges */
  }
  .card-description {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .our-services {
    margin-top: 20px;
    padding: 10px;
  }
  .card {
    width: calc(
      100% - 55px
    ); /* Adjust the card width to have space from the edges */
  }
  .card-description {
    font-size: 16px;
  }
}
