.typing-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.typing-text {
  font-size: 32px;
  font-weight: 500;
  color: white;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.6;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  scrollbar-width: none; /* For Firefox */
}

.typing-text::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hidden-text, .typing-text-copy {
  font-size: 32px;
  font-weight: 500;
  padding: 10px;
  line-height: 1.6;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  z-index: -1; /* Make sure it's not visible or interactive */
}

.typing-text-copy {
  visibility: hidden;
  overflow-y: scroll;
}

.bounceInDown {
  opacity: 0;
  animation: bounceInDown 1s forwards;
}

.fadeInDown {
  opacity: 0;
  animation: fadeInDown 1s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }
  90% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.scroll-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.up-arrow {
  top: 10px;
}

.down-arrow {
  bottom: 10px;
}

@media (max-width: 768px) {
  .typing-text, .hidden-text, .typing-text-copy {
    font-size: 24px;
    padding: 5px;
  }

  .scroll-arrow {
    padding: 5px;
  }
}
