.footer {
  background-color: #0a0a0a;
  color: #fff;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.top-shadow {
  width: 100%;
  height: 140px;
  background: linear-gradient(
    to top,
    #0a0a0a 0%,
    rgba(10, 10, 10, 0.95) 10%,
    rgba(11, 11, 11, 0.85) 20%,
    rgba(12, 12, 12, 0.75) 30%,
    rgba(13, 13, 13, 0.65) 40%,
    rgba(14, 14, 14, 0.55) 50%,
    rgba(15, 15, 15, 0.45) 60%,
    rgba(16, 16, 16, 0.35) 70%,
    rgba(17, 17, 17, 0.25) 80%,
    rgba(18, 18, 18, 0.15) 90%,
    rgba(19, 19, 19, 0.1) 95%,
    rgba(20, 20, 20, 0.08) 98%,
    rgba(18, 18, 18, 0.05) 100%,
    transparent 100%
  );
  border-bottom: 1px solid #444;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.footer-section {
  margin: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 24px;
  display: inline-block;
  transition: color 0.3s;
  width: 50%; /* For two columns */
}

.social-icons a:hover {
  color: #ccc; /* Change color on hover */
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
}

.links {
  line-height: 1.5;
}

/* Responsive Styles */
@media (min-width: 769px) {
  .footer-content {
    justify-content: space-between;
  }

  .footer-content .about {
    flex: 1 100%;
  }

  .footer-content .links-follow-us-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .footer-section.links,
  .footer-section.social {
    flex: 1;
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
  }

  .social-icons a {
    width: 50%; /* For two columns */
    margin: 5px 0; /* Adjust spacing between icons */
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    padding: 0 10px;
  }

  .footer-section {
    margin: 10px 0;
  }

  .footer-section h2 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 12px;
  }

  .about-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .links-follow-us-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-section.links,
  .footer-section.social {
    flex: 1;
    margin: 0 10px;
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
  }

  .social-icons a {
    width: 50%; /* For two columns */
    margin: 5px 0; /* Adjust spacing between icons */
  }
}

@media (max-width: 576px) {
  .footer-section {
    margin: 5px 0;
  }

  .footer-section h2 {
    font-size: 14px;
  }

  .footer-section p,
  .footer-section ul li {
    font-size: 11px;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .links-follow-us-row {
    flex-direction: row;
    justify-content: space-between;
  }
}
