.contact-page {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

.hero-section {
  background: url('../../assets/gallery/image16.jpg') center/cover no-repeat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-content-wrapper {
  background-color: rgba(0, 0, 0, 0.717); /* Semi-transparent background */
  padding: 20px; /* Padding around the text */
  border-radius: 10px; /* Optional: Adds rounded corners */
}

.contact-page-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-page-description {
  margin-bottom: 30px;
  font-size: 18px;
}

.contact-grid-section {
  padding: 40px 40px 0 40px;
  background-color: #141414;
  position: relative;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-card {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.contact-card.submitted {
  background-color: #4caf50 !important; /* Change background to green to indicate success */
  color: white;
}

.contact-card.submitted .contact-card-icon {
  color: white; /* Change the icon color to white */
}

.contact-card:active {
  transform: scale(0.95);
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-card:hover {
  transform: translateY(-5px);
  background-color: #272727;
}

.contact-card-icons {
  display: flex;
  justify-content: center;
  gap: 30px; /* Increased gap for more spacing */
  margin-bottom: 15px;
}

.contact-card .email-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
}

.contact-card .email-text:hover::after {
  content: attr(title);
  position: absolute;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Adjust position above the email text */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  font-size: 14px;
  opacity: 0.9;
  pointer-events: none; /* Prevents the tooltip from being interactive */
}

.tooltip-contact {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0.9;
  font-size: 14px;
}

/* Tooltip styling */
.tooltip-hover {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Adjust this value to position the tooltip above the card */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

.tooltip-hover::after {
  content: '';
  position: absolute;
  top: 100%; /* Bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.contact-card:hover .tooltip-hover {
  visibility: visible;
  opacity: 1;
}

.contact-card-icon {
  font-size: 40px;
  color: #1e90ff;
}

.contact-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 16px;
  margin: 0;
}

.contact-form-section {
  padding: 40px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero-section {
    height: 40vh;
  }

  .contact-page-title {
    font-size: 28px;
  }

  .contact-page-description {
    font-size: 16px;
  }

  .contact-card h2 {
    font-size: 20px;
  }

  .contact-card p {
    font-size: 16px;
  }
}

.bottom-to-top-fade {
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, #141414 0%, #1e1e1e 100%);
}

.top-to-bottom-fade {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #141414 0%, #1e1e1e 100%);
  position: relative;
}
